# Coding in Color - Part 2 - Making Selections

<img width='250px' align='left' src='https://100blackmenjax.org/wp-content/uploads/2019/10/retina-100BMJAXLOGO_dark1-1.png'>

------------------

### 2.1 Loading the Data

So now let's start working with a bigger set of data!  To do this, we will use a function to read a CSV file of student test scores, and place it all into a variable.  
To do this, run the cell below:

In [ ]:
import pandas as pd
data = pd.read_csv('test_scores.csv', index_col=0)

Previously we discussed a few different types of variables, (Integer, Float, String).  However, there are many more different types of variables that can be created.  The funtion that you just ran created a new variable called 'data', and the type of variable is a DataFrame.  Print out the DataFrame to see all of the information in the file:

In [ ]:
data

This is all of the test scores for students in the district.  We can can look at all of the columns for the records.  With DataFrame variables, we can use the following syntax to ONLY grab certain columns: <code>{variable name}['{column name}']</code> .  See this example:

In [ ]:
data['firstname']

## Try it for yourself.  Use the cell below to print out just the race of students from all of the students:

Now let's see if we can include a few more columns from the DataFrame.  Whenever we want more than one column, we need to use a list of the names that we want.  We can use <code>[]</code> to represent this list, and separate the column names with commas.  The statement below will show the firstname and lastname from the data:

In [ ]:
data[['firstname', 'lastname']]

We can use the same syntax to grab firstname, race, and read_score:

In [ ]:
data[['firstname','race','read_score']]

Great job!! You have figured out how to grab specific columns of information from a set of data!  Think about what you could do with all that power....

<img align='left' src='https://akns-images.eonline.com/eol_images/Entire_Site/2018712/rs_450x253-180812113531-500-kanye-west-jimmy-kimmel-live-080918.gif?fit=around|450:auto&output-quality=90&crop=450:auto;center,top'>

### 2.2 Select Conditions

So we found out how to determine which columns we will show from the data.  But now let's shift our focus to figuring out which ROWS we want to see.  Because if we want to get the average math test scores from the students at School 2, we would only want the rows for that school.

One of the easiest ways to do that is to use the command below.  Think of this command as saying "Give me all of the data in this DataFrame where the School_ID is equal to 2".  (Try saying that 10 times fast!)  Try it out or changing the statement to grab information only from School 1.

In [ ]:
data[data['school_id'] == 2]

We can also use this logic to select based on a String

In [ ]:
data[data['lastname'] == 'King']

Now this is going to get REAL weird.....pay attention......instead of printing the results, we can actually store the results in a new variable:

In [ ]:
kingRecords = data[data['lastname'] == 'King']

THEN....we can print out the new DataFrame variable just like any other variable:

In [ ]:
kingRecords

The reason this is useful is because we can use the same logic we used before to select only certain columns from the results:

In [ ]:
kingRecords['read_score']

Try to use the next few cells to print out just the lastname of the students in School 1

What if you needed multiple conditions!?  Great question young one........You can place each of the conditions that you want to use in <code>()</code> and use the <code>&</code> to represent 'AND'.  So in the example below, we are selecting data where the School is 2 AND the math scores are greater than 80

In [ ]:
schTwo = data[(data['school_id'] == 2) & (data['math_score'] > 80)]

In [ ]:
schTwo

Of course, we can only show the Math Scores from the result:

In [ ]:
schTwo['math_score']

Your turn!  Try to print out the reading scores of the Black students in School 1

### 2.3 Using SUM and COUNT

Instead of adding up all of the values in a column, we can use another function called <code>sum()</code> to add up the values.  All we need to do is setup our data and choose the column that we would like to sum up:

In [ ]:
schTwo = data[(data['school_id'] == 2) & (data['math_score'] > 80)]

In [ ]:
schTwo['math_score'].sum()

### Try to use the logic to find the sum of all the Reading Scores for Black Students in School 1

We can also use the <code>count()</code> function to count up all of the rows from a result.

In [ ]:
schBlk = data[(data['school_id'] == 2) & (data['race'] == 'Black')]

In [ ]:
schBlk['math_score'].count()

### Try to get the total count of all students at School 1

Guess what.....we can use both of these logics to figure out the average math test scores by dividing the sum of all of the math scores by the total number of students:

In [ ]:
schBlk['math_score'].sum() / schBlk['math_score'].count()

### Add a few cells and try to and determine the average reading scores for all of the black students in School 2